/* ***************************************************************************************************************/
/* Contains styles common to all the pages and Default style for all elements such as links buttons input fields */
/* ***************************************************************************************************************/
/* primary: 6179B7 */
/* primary-rgb: rgb(97, 121, 183, 1) */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 767px) {
  .wrapper nav {
    right: 0;
    bottom: unset !important;
    min-height: unset !important;
    border-radius: 0 0px 15px 15px !important;
  }

  .nav-items a:not(:first-child) {
    margin-left: 10px;
  }

  .chatbar {
    max-width: 200px !important;
  }

  .post:not(:first-child){
    margin-top: 10px !important;
  }
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.search, .profile, .notifications {
  display: none;
}

/***************************************/
/*************** NAVBAR ****************/
/***************************************/

nav{
  transition: 0.3s ease;
}

.wrapper nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  flex: 0.2;
  min-height: 100vh;
  background-color: white;
  border-radius: 0 15px 15px 0;
  z-index: 100;
}

.scrollUp{
  top: -250px !important;
}

.nav-items {
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #f5f5f5;
  padding: 15px 20px;
  cursor: pointer;
}

.nav-item img {
  height: 18px;
  width: 18px;
}

.nav-item span {
  font-weight: 300;
}

.nav-item.active span {
  font-weight: bold;
}

.nav-item.active {
  background-color: rgb(97, 121, 183, 0.3);
  color: rgb(97, 121, 183, 1);
}

.logoutContainer {
  max-height: 100px;
  transition: 0.3s ease;
}

.logoutContainer.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

.logoutContainer.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  max-height: 0;
  margin: 0 !important;
}

/***************************************/
/*************** BUTTON ****************/
/***************************************/

button {
  transition: 0.3s ease !important;
}

button:focus {
  outline: none;
}

.btn-primary:hover,
.btn-light:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: unset !important;
}

.btn-primary:focus,
.btn-light:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: #6179b7 !important;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  background-color: #6179b7 !important;
  color: white !important;
  font-weight: bold;
  font-size: 1.05em;
}

.btn-light {
  background-color: #f5f5f5 !important;
  color: #202020 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-success {
}

.btn-danger {
}

/***************************************/
/**************** INPUT ****************/
/***************************************/

.form-control {
  background-color: #f5f5f5 !important;
  border-radius: 15px !important;
  border: 0 !important;
}

.form-control:focus {
  background-color: #f5f5f5 !important;
  outline: none !important;
  box-shadow: none !important;
}

/***************************************/
/**************** LINK *****************/
/***************************************/

:any-link {
  text-decoration: none;
  color: black;
}

:any-link:hover {
  text-decoration: none;
}

/***************************************/
/******BOOTSTRAP CLASSES OVERRIDE ******/
/***************************************/

.rounded {
  border-radius: 15px !important;
}

/***************************************/
/*********** COMMON STYLES *************/
/***************************************/

textarea{
  resize: none;
}

.icons{
  height: 25px !important;
  width: 25px !important;
  cursor: pointer;
}

.shadow-light{
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1) !important;
}

.profile-icon {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.bg-grey{
  background-color: #f5f5f5;
}

.object-fit-contain{
  object-fit: contain;
}

.object-fit-cover{
  object-fit: cover;
}

/* Small devices (mobiles, 576px and up) */

/* @media (min-width: 576px) {
} */

/* Medium devices (tablets, 768px and up) */

/* @media (min-width: 768px) {
} */

/* Large devices (desktops, 992px and up) */

/* /* @media (min-width: 992px) {
} */

/* Extra large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) {
} */
