/***************************************/
/*************** CHATBAR ***************/
/***************************************/

.chatbar {
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 15px 0 0 15px;
  min-height: 100vh;
  max-width: 200px;
}

.chat-user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 15px;

}

.chat-user:not(:first-child) {
  margin-top: 10px;
}

.chat-user img {
  height: 25px;
  width: 25px;
  object-fit: contain;
}

/************************************************/
/*************** CREATE POST FORM ***************/
/************************************************/

.create-post-actions div button, .create-post-actions div input{
  left: 0;
  z-index: 10;
  opacity: 0;
}

/************************************/
/*************** POST ***************/
/************************************/

.post{
  opacity: 0;
  transition: 0.3s ease;
}

.animatePost{
  opacity: 1;
  animation: animate 1s ease;
}

@keyframes animate {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.post:not(:first-child) {
  margin-top: 15px;
}

.post .current-user div span{
  font-size: smaller;
}

.post .header .post-actions{
  position: absolute;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  top: 30px;
  right: 0;
  transform: translateY(-5px);
  transition: 0.3s ease;
  z-index: 10;
}

.post .header .post-actions.visible{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.post .body .media{
  display: flex;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory; */
}

/* .post .body .media .images img{
  scroll-snap-align: start;
} */

.post .body .media .images img:not(:first-child){
  margin-left: 10px;
}

